apiVersion: argoproj.io/v1alpha1
kind: ApplicationSet
metadata:
  name: users-appset
  namespace: openshift-gitops
spec:
  generators:
    - list:
        elements:
          - name: rbac-application
            path: rbac
          - name: users-auth
            path: users
          - name: change-logo 
            path: logo
  template:
    apiVersion: argoproj.io/v1alpha1
    kind: Application
    metadata:
      name: "{{name}}"
      namespace: openshift-gitops
    spec:
      project: default
      source:
        repoURL: 'https://github.com/Hashlama-016/Argo-Configs.git'
        targetRevision: main
        path: "{{path}}"  # Dynamically set the path based on the list element
      destination:
        server: https://kubernetes.default.svc
        namespace: default
      syncPolicy:
        automated:
          prune: true
          selfHeal: true
        syncOptions:
          - CreateNamespace=true
