apiVersion: argoproj.io/v1alpha1
kind: ApplicationSet
metadata:
  name: teams-appset
  namespace: openshift-gitops 
spec:
  generators:
    - list: 
        elements:
          - team: airflow
            namespace: airflow
            url: https://github.com/Hashlama-016/Exodus-team.git
            branch: airflow
            path: airflow
            project: airflow
          - branch: main
            namespace: adi
            path: application
            project: default
            team: adi
            url: https://github.com/Hashlama-016/Argo-Configs-Red.git
  template:
    apiVersion: argoproj.io/v1alpha1
    kind: Application
    metadata:
      name: "{{team}}"
      namespace: openshift-gitops  
    spec:
      project: "{{team}}"
      source:
        repoURL: "{{url}}"
        targetRevision: "{{branch}}"
        path: "{{path}}"
      destination:
        server: https://kubernetes.default.svc
        namespace: "{{namespace}}"
      syncPolicy:
        automated:
          prune: true
          selfHeal: true
        syncOptions:
          - CreateNamespace=true
